:root {
    --theme-color-primary: rgb(0,33,71);
    --theme-color-secondary: rgb(225,173,1);
}


.top {
    height: 320px;
    background-color: var(--theme-color-primary);
    text-align: center;
}
.bottom {
    height: 320px;
    background-color: var(--theme-color-secondary);
    text-align:center;
}

.top > span {
  font-size:3rem;
  color:var(--theme-color-secondary);
}

.bottom > span {
    font-size: 3rem;
    color:var(--theme-color-primary);
}