<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
    <script src="../Scripts/Copyright.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <div id="footer-info" class="section footer">
        <div class="container w-clearfix">
            <div class="w-row">
                <div class="column w-col w-col-6">
                    <div class="company-details w-clearfix">
                        <a href="/" class="footer-logo w-nav-brand w--current">
                            <img class="img-footer-logo" src="../Images/Logo/Brand-Logo.jpeg" alt="logo">
                        </a>
                        <div class="company-info">Get Online Assignment & Homework Help/Service Any Time (24*7)</div>
                        <div class="md-form">

                            <input type="text" id="inputIconEx1" class="form-control" placeholder="E-mail Address">
                            <button class="btn btn-info" id="email-submit">Submit</button>
                        </div>
                        <div class="col-xs-12">
                            <div class="copyrighttext">
                                <p>Copyright © 2020 All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-right-column column w-col w-col-6">
                    <div class="footer-menu">
                        <div class="title">BROWSE</div>
                        <a href="../index.html" class="hidden footer-link">Home</a>
                        <a class="footer-link" href="../index.html#info">Info</a>
                        <a href="#" target="_blank" class="footer-link">Services</a>
                        <a href="Subjects.html" target="_blank" class="footer-link">Subjects</a>
                        <a class="footer-link" href="Prices.html">Pricing</a>
                        <a href="UnderConstruction.html" class="footer-link">Work Samples</a>
                        <a href="#" target="_blank" class="footer-link">Careers</a>
                        <a class="footer-link" href="../index.html#faq-div">FAQ's</a>
                        <a href="#" class="footer-link">Connect</a>
                    </div>
                    <div class="footer-menu footer-address">
                        <div class="title">EXPLORE</div>
                        <a href="UnderConstruction.html" class="hidden footer-link">Offers</a>
                        <a href="#" class="hidden footer-link">Order Now</a>
                        <a href="#" class="hidden footer-link">Our Process</a>
                        <a href="#" class="hidden footer-link">Our Specialities</a>
                        <a href="#" class="hidden footer-link">Feedbacks/Reviews</a>
                        <a href="#" class="hidden footer-link">Terms Of Service</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrightSec">
        <div class="container">
            <div class="col-xs-12 col-sm-12">
                <div class="disclaimerWrp text-center">
                    <div class="TopDis">
                        <div class="socialLink-copy">
                            <button type="button" class="btn btn-social-icon btn-twitter btn-rounded" id="messenger-copyrightsec">
                                <img src="../Images/Icons/facebook-messenger.png" class="fa-facebook-messenger" />
                            </button>
                            <button type="button" class="btn btn-social-icon btn-instagram btn-rounded" id="insta-copyrightsec"><i class="fab fa fa-instagram"></i></button>
                            <button type="button" class="btn btn-social-icon btn-facebook btn-rounded" id="fb-page-link"><i class="fa fa-facebook"></i></button>
                        </div>
                        <div class="TopDis-Connect">
                            <span>CONNECT</span>
                        </div>
                        <div class="TopDis-Email">
                            <span>info@assignmentsoul.com</span>
                        </div>
                    </div>

                    <span class="dl-time">
                        <strong>Note: </strong>: Delivery time will entirely dependent on the number of words of the solution, the required expertise and the technical nature of the work.
                    </span>
                    <span class="dl-time"><strong>Disclaimer</strong>: We do not promote ghostwriting in whatsoever manner. We hereby only deal with the academic service and consultation to the people in need.  We do not encourage the students to submit our solutions directly with their university. We entirely work within the ambit of scholarly conduct and academic integrity. We only promote an adequate understanding of topics via professional experts of the subjects. </span>
                </div>
            </div>
        </div>
    </div>
</body>