<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Subjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel="stylesheet">
    <link href="../Style/NavBar.css" rel="stylesheet" />
    <link href="../Style/CopyRightSec.css" rel="stylesheet" />
    <link href="../Style/Subjects.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/ContentThroughOut.js"></script>
    <div id="nav-placeholder">

    </div>
    <div class="subject">
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Management</p>
            <ul class=" card-list ul-course-subjects">
                <li>Business Management Assignment Help</li>
                <li>Project Management Assignment Help</li>
                <li>Strategic Management Assignment Help</li>
                <li>Business Process Management Assignment Help</li>
                <li>Health Care Management Assignment Help</li>
                <li>Operations Management Assignment Help</li>
                <li>Total Quality Management Assignment Help</li>
                <li>Supply Chain Management Assignment Help</li>
                <li>Management Accounting Assignment Help</li>
                <li>Conflict Management Assignment Help</li>
                <li>Business Plan Assignment Help</li>
                <li>Business Intelligence Assignment Help</li>
                <li>Principle of Leadership Assignment Help</li>
                <li>Marketing Research Assignment Help</li>
                <li>Marketing Law Assignment Help</li>
                <li>International Marketing Assignment Help</li>
                <li>Sports Marketing Assignment Help</li>
                <li>Integrated Marketing Communication Assignment Help</li>
                <li>Strategic Brand Management Assignment Help</li>
                <li>Sustainable Environmental Marketing Assignment Help</li>
                <li>International Marketing Assignment Help</li>
                <li>Corporate Social Responsibility Assignment Help</li>
                <li>Human Resource Assignment Help</li>
                <li>Lean Manufacturing Assignment Help</li>
                <li>Workflow Analysis Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Law</p>
            <ul class="ul-course-subjects">
                <li>Business Law Assignment Help</li>
                <li>Civil Law Assignment Help</li>
                <li>Corporate Law Assignment Help</li>
                <li>Criminal</li>
                <li>IPR</li>
                <li>Tax</li>
                <li>Migration</li>
                <li>Tort</li>
                <li>Family Law</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Finance</p>
            <ul class="ul-course-subjects">
                <li>Corporate Finance Assignment Help</li>
                <li>Financial Accounting Assignment Help</li>
                <li>Financial Economics Assignment Help</li>
                <li>Financial Planning Assignment Help</li>
                <li>Financial Statement Analysis Assignment Help</li>
                <li>Mathematics Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Economics</p>
            <ul class="ul-course-subjects">
                <li>Macro-Economics Assignment Help</li>
                <li>Micro-Economics Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Marketing</p>
            <ul class="ul-course-subjects">
                <li>Consumer behavior Assignment Help</li>
                <li>Public Relation Assignment Help</li>
                <li>Service Marketing Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>IT</p>
            <ul class="ul-course-subjects">
                <li>C++ Assignment Help</li>
                <li>C Assignment Help</li>
                <li>Biotechnology Assignment Help</li>
                <li>Computer Science Assignment Help</li>
                <li>Data Mining Assignment Help</li>
                <li>DBMS Assignment Help</li>
                <li>JAVA Assignment Help</li>
                <li>Microsoft Assignment Help</li>
                <li>MS Project Assignment Help</li>
                <li>Network Security Assignment Help</li>
                <li>Programming Assignment Help</li>
                <li>Python Assignment Help</li>
                <li>R Programming Assignment Help</li>
                <li>SAP Assignment Help</li>
                <li>SQL Assignment Help</li>
                <li>R Studio Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Science</p>
            <ul class="ul-course-subjects">
                <li>Chemistry Assignment Help</li>
                <li>Physics Assignment Help</li>
                <li>Psychology Assignment Help</li>
                <li>Biology Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Statistics</p>
            <ul class="ul-course-subjects">
                <li>Data Analysis Assignment Help</li>
                <li>EViews Assignment Help</li>
                <li>Minitab Assignment Help</li>
                <li>SPSS Assignment Help</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Other Subjects</p>
            <ul class="ul-course-subjects">
                <li>Movie Reviews Assignment Help</li>
                <li>Paper Writing Service</li>
                <li>Assignment Proofreading Service</li>
                <li>Reflection Assignment Help</li>
                <li>Report Writing Help</li>
                <li>Research Proposal Assignment Help</li>
                <li>Thesis Help</li>
                <li>Annoted Bibiliography Assignment Help</li>
                <li>Article Critique Writing Assignment Help</li>
                <li>Resume Writing Services</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Nursing</p>
            <ul class="ul-course-subjects">
                <li>(Every field of Nursing)</li>
            </ul>
        </div>
        <div class="sub-courses card bg-primary-secondary-gradient">
            <p>Services</p>
            <ul class="ul-course-subjects">
                <li>Literature Review Assignment Help</li>
                <li>Assignment Provider</li>
                <li>Case Study Assignment Help</li>
                <li>Ethics Assignment Help</li>
                <li>Dissertation Writing Help</li>
                <li>Dissertation Editing Assignment Help</li>
                <li>Essay Writing Help</li>
                <li>Nursing Essay Writing Help</li>
                <li>Mass Communication Assignment Help</li>
                <li>Communication Assignment Help</li>
                <li>Business Communication Assignment Help</li>
                <li>Formal & Informal Communication Assignment Help</li>
                <li>Referencing Style Assignment Help</li>
            </ul>
        </div>
    </div>

    <div id="Copyrightsec-placeholder">

    </div>
</body>
</html>