<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Style/TermsandConditions.css" rel="stylesheet" />
</head>
<body>
    <div class="tnc">
        <!--<div class="logo"><img src="../Images/Logo/Brand-Logo.jpeg" /></div>-->
        <div class="txt-tnc">
            <h2>Terms and Conditions</h2>
            <p>

                Users are required to provide their authentic information. Users will remain responsible for maintaining the confidentiality of their passwords and ID. Under any circumstances, if your password and id are compromised, you are required to inform us immediately. If users have provided wrong information and that results in any loss to any customer, we will not be held liable. Users of this website are not supposed to hack into any section and shall not modify or alter any information whatsoever.
            </p>
            <h2>Our contract with you as customer</h2>
            <p>

                We are the agents of professional experts and we provide unique work to the customers. We hereby agree to provide the quality work to the customer when they place an order with us by providing you the best-suited expert. We hereby agree to use all the reasonable judgment and skill while allocating the best expert to you that ensure timely delivery of your work. We agree to accommodate the request of the customers in case they want any amendment. However, this restricts with our judgment. Any such modifications must not conflict with the previously placed order. Under any circumstance, if after full payment the user has provided any additional information then the user must be supposed to pay extra money for the same.
            </p>
            <h2>Suspension of order</h2>
            <p>
                We hereby reserve all the right to suspend your order at any stage if we believe that there are undue restrictions. Under such circumstances, the entire money will be refunded to you. Users are not supposed to contact the experts on a direct basis. For making any communication, we will act as the middleman. The terms and conditions of this contract will remain intact until the order is terminated by either party.
            </p>
            <h2>Outstanding balance</h2>
            <p>
                If the user does not pay the balance money within 24 hours before the deadline, we reserve the right to hold your work.
            </p>
            <h2>Privacy law</h2>
            <p>
                We will strictly maintain the confidentiality of our students and under no circumstances; we will share your details with any third party.
            </p>
            <h2>Refund</h2>
            <p>
                The money will be refunded to you with the same details of credit cards with which the order has been placed with us.
            </p>
            <h2>Terms of payment</h2>
            <p>
                We will contact the customer to make the full or partial payment via email. The partial payment or the balance payment has to be done before 24 hours for the deadline of your work. However, we expect you to do full payment to avoid any restriction and holding back your work. We hold the right to refuse to place your order to any unavailability of a suitable expert.
            </p>
            <h2>General instructions</h2>
            <p>

                •	We do not work on public holidays.
                •	You will use the resource of this website at your own risk.
                •	It is the responsibility of the user to go through the guidelines and instructions of the university before placing order.
                •	We strictly provide academic advisors, not a professional one.
                •	We are not liable for any modifications alterations are done on the website or price quoted.
                •	Under any circumstances, if the dispute arises, the laws of India will govern.
            </p>
            <h2>Termination of agreement</h2>
            <p>
                We reserve the right to terminate the path or the entire service agreement at any point in time with the sole discretion. However, we agree to post a notice of termination on the website or it will be e-mailed to the user via email.
            </p>
            <h2>Amendment to the terms and conditions</h2>
            <p>
                We reserve the right to amend or modify the terms of the condition at any e time without giving any prior notice. We would hereby advise you to visit our terms and conditions regularly.


            </p>
            <h2>Notice of copyright</h2>
            <p>All the content of this website is subjected to copyright. We reserve the right of contractual and other protection that comes within the realm of intellectual property rights. The terms like "we" and "us" refers to the owners of this website. Customer/issue refers to the viewers and user of the website</p>
        </div>
    </div>
</body>
</html>